/***********************
    1. BASIC           *
    2. HELPER          *
    3. NAVBAR          *
    4. HOME            *
    5. ABOUT US        *
    6. FEATURES        *
    7. HOW IT WORK     *
    8. COUNTER         *
    9. SCREENSHOT      *
    10.CLIENT LOGO     *
    11.CLIENTS         *
    12.PRICING         *
    13.SUBCRIBE        *
    14.CONTACT         *
    15.FOOTER          *
    16.RESPONSIVE      *
************************/

@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,900");
/*======================
        1.BASIC
========================*/

body {
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    background-color: #fff;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 500 !important;
}

p {
    font-size: 15px;
    line-height: 1.6;
}

a,
a:hover,
a:focus,
button,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

.back_top {
    text-align: center;
    position: fixed;
    bottom: 15px;
    height: 35px;
    width: 35px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    display: none;
    z-index: 10000;
    border-radius: 3px;
    right: 20px;
    transition: all 0.5s;
}

.back_top i {
    color: #0ebdca;
    line-height: 35px;
    font-size: 32px;
    display: block;
}

.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.loader {
    height: 1px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    position: absolute;
    z-index: 9999;
}


/*==========================
        2.HELPER
============================*/

.section {
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    background-color: #fff;
}
.section-no-bottom-margin {
    padding-bottom: 0px;
}

.section_title_icon {
    font-size: 18px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    height: 40px;
    width: 40px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
}

.section_subtitle {
    text-align: justify;
    max-width: 500px;
    font-size: 16px;
    padding-top: 6px;
    line-height: 1.8;
}

.bg-dark {
    background-color: #22232f;
}

.bg-custom {
    background-color: #0ebdca;
}

.text-muted {
    color: #94989a !important;
}

.text-dark {
    color: #000 !important;
}

.text-custom {
    color: black !important;
}

.text-custom-blue {
    color: #4e74d6;
}

.h-100vh {
    height: 100vh;
}

.z-index {
    z-index: 2;
}

.bg-gradient {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
}

.bg-overlay-gradient {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.over_margin {
    margin: 20px;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.btn {
    padding: 12px 28px;
}

.btn-sm {
    padding: 8px 15px;
}

.btn-rounded {
    border-radius: 30px !important;
}

.btn-outline-custom {
    border: 2px solid #0ebdca;
    color: #0ebdca;
    letter-spacing: 1px;
    transition: all 0.5s;
    border-radius: 5px;
    text-transform: capitalize;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open>.dropdown-toggle.btn-outline-custom {
    background: #1ba555;
    border-color: #1ba555 !important;
    color: #fff !important;
}

.btn-custom {
    background-color: #0ebdca;
    border: 2px solid #0ebdca;
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    border-radius: 5px;
    letter-spacing: 1px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open>.dropdown-toggle.btn-custom {
    background-color: #0ca9b5;
    border-color: #0ca9b5;
    color: #fff;
}

.btn-gradient {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.btn-gradient:hover,
.btn-gradient:focus,
.btn-gradient:active,
.btn-gradient.active,
.btn-gradient.focus,
.btn-gradient:active,
.btn-gradient:focus,
.btn-gradient:hover,
.open>.dropdown-toggle.btn-gradient {
    background: #797cd2;
    background: -webkit-linear-gradient(to right, #393e9e, #797cd2);
    background: linear-gradient(to right, #393e9e, #797cd2);
    transition: all 0.5s;
}

.btn-white {
    background-color: #fff;
    border: 2px solid #fff;
    color: #0ebdca;
    font-size: 13px;
    transition: all 0.5s;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open>.dropdown-toggle.btn-white {
    background-color: #efefef;
    border-color: #efefef;
    color: #0ebdca;
}

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}


/*==========================
        3.NAVBAR
============================*/

.custom-nav {
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}

.custom-nav.stickyadd {
    background-color: #fff;
    padding: 16px 0;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}
.custom-nav.stickyadd .logo-white {
    color: #007bff;
}

.custom-nav .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    background-color: transparent !important;
    padding: 7px 0 !important;
    position: relative;
    margin: 0 12px;
    transition: all 0.4s;
}

.navbar-toggler {
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: #000;
}

.custom-nav.stickyadd .navbar-nav li a {
    color: rgba(0, 0, 0, 0.70);
}

.navbar-toggle {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ffffff;
}

.custom-nav.stickyadd .navbar-nav li.active a,
.custom-nav.stickyadd .navbar-nav li:hover a,
.custom-nav.stickyadd .navbar-nav li:active a,
.custom-nav .navbar-nav li.active a,
.custom-nav .navbar-nav li:hover a,
.custom-nav .navbar-nav li:active a {
    color: #0ebdca;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #0ebdca;
}

.logo .logo-light {
    display: inline-block;
}

.stickyadd .logo .logo-dark {
    display: inline-block;
}

.stickyadd .logo .logo-light {
    display: none;
}

.logo .logo-dark {
    display: none;
}

.logo-white {
    color: white;
}

.logo-white:hover {
    color: red;
}

.custom-nav .navbar-brand.logo img {
    height: 48px;
}

.custom-nav .sign_btn {
    background-color: rgba(255, 255, 255, 0.12);
    color: #fff;
}

.custom-nav.stickyadd .sign_btn {
    background-color: rgba(14, 189, 202, 0.12);
    color: #0ebdca;
}

.custom-nav .log_btn {
    background-color: transparent;
    color: #fff;
}

.custom-nav.stickyadd .log_btn {
    color: #000;
}


/*==========================
        4.HOME
============================*/

.home-bg {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    position: relative;
    padding-top: 180px;
}

.bg-overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}

.curv-img {
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

.curv-img svg {
    display: block;
}

.bg-overlay-home {
    background-size: auto;
    -webkit-animation: bg-animation 200s ease-in-out infinite;
    animation: bg-animation 200s ease-in-out infinite;
}

@-webkit-keyframes bg-animation {
    0% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

@keyframes bg-animation {
    0% {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    100% {
        background-position: top;
    }
}

.home-table-center {
    display: table-cell;
    vertical-align: middle;
}

.home-table {
    display: table;
    width: 100%;
    height: 100%;
}

.header_title {
    font-size: 44px;
    line-height: 1.2;
    max-width: 850px;
}

.small_title p {
    font-size: 16px;
    border-radius: 30px;
    padding: 4px 18px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
}

.header_subtitle {
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.6) !important;
}

.home-desk {
    position: relative;
    top: 60px;
    z-index: 100;
}


/*---DEMO 2---*/

.home_side_img {
    padding: 160px 0px;
}


/*---DEMO 3---*/

.home_clip {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}


/*---DEMO 4---*/

.subcribe-home input {
    padding: 14px 15px;
    width: 100%;
    font-size: 14px;
    color: #4c5667 !important;
    outline: none !important;
    padding-right: 150px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid #e7e7e7;
}

.subcribe-home button {
    position: absolute;
    top: 3px;
    right: 3px;
    outline: none !important;
    border-radius: 30px;
    font-size: 14px;
    padding: 10px 30px;
}

.subcribe-home form {
    max-width: 450px;
}


/*---DEMO 5---*/

.home-bg-img {
    background-image: url('/images/bg_home.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}


/*---DEMO 11---*/

.home-full-gradient {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    position: relative;
}
.gradient-pro {
    background: -webkit-linear-gradient(to right, hsla(238, 50%, 10%, 1), #393e9e);
    background: linear-gradient(to right, hsla(238, 50%, 10%, 1), #393e9e);
}


/*---DEMO 13---*/

.bg-dark-video {
    background-color: #22232f;
    padding-top: 180px;
}

/*--- LOGIN/SIGN In/FORGOT---*/

.account_box{
    border-radius: 12px;
    box-shadow: 10px -10px 0 4px #0ebdca;
    padding: 50px 40px;
}

.account_box h5{
    font-size: 20px;
    max-width: 300px;
    line-height: 1.4;
}

.account_box .form-control{
    box-shadow: none !important;
    color: #fff;
    height: 46px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
}

.account_box .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.6);
}

.account_box .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
}

.account_box .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.6);
}

.account_box .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6);
}


/*==========================
        5.ABOUT US
============================*/

.about_boxes.active {
    border: 1px dotted #e7e7e7;
}

.about_boxes .about_icon i {
    font-size: 32px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    height: 60px;
    width: 60px;
    line-height: 60px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 10px -10px 0 0 rgba(14, 189, 202, 0.25);
}

.about_boxes .about_btn a {
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    font-size: 18px;
    line-height: 48px;
    height: 50px;
    width: 50px;
    display: inline-block;
    color: #000000 !important;
}


/*==========================
        6.FEATURES
============================*/

.features_one .features_icon {
    height: 46px;
    width: 46px;
    line-height: 46px;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 4px rgba(14, 189, 202, 0.25);
}

.features_one .features_detail h6 {
    font-size: 12px;
    letter-spacing: 4px;
}

.features_one .features_border {
    height: 3px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    width: 30px;
    border-radius: 6px;
}

.features_one {
    max-width: 380px;
}

.features_one .features_more a {
    font-size: 13px;
}

.features_one .features_more .fea_border_more {
    height: 1px;
    display: inline-block;
    width: 15px;
    position: relative;
    top: -4px;
    background-color: #0ebdca;
    transition: all 0.5s;
}

.features_one .features_more:hover .fea_border_more {
    width: 30px;
}

.features_list p span {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
}


/*==========================
        7.HOW IT WORK
============================*/

.hit_box {
    z-index: 10;
    position: relative;
}

.hit_box .hit_icon {
    font-size: 46px;
}

.hit_box .hit_number h1 {
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 80px;
    z-index: -1;
    color: #efefef;
    right: 0px;
    transform: translateY(-50%);
}

.working_icons_left i,
.working_icons_right i {
    font-size: 22px;
    position: absolute;
    top: 100px;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    z-index: 9;
    margin-top: 40px;
}

.working_icons_left i {
    left: 63%;
}

.working_icons_right i {
    left: 30%;
}

.video_hit .hit_video_icon {
    position: absolute;
    top: 50%;
    left: 51%;
    margin-left: -40px;
    transform: translateY(-50%);
}

.hit_video_icon {
    outline: none !important;
    width: 65px;
    height: 65px;
    padding-left: 2px;
    border-radius: 50%;
    z-index: 4;
    background: #0ebdca;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #fff !important;
    font-size: 35px;
    line-height: 65px;
}


/*==========================
        8.COUNTER
============================*/

.counter_bg {
    background-image: url(/images/counter_bg.jpg);
    background-position: center center;
}

.sof_count {
    font-size: 100px;
    letter-spacing: 18px;
}


/*==========================
        9.SCREENSHOT
============================*/

.screenshot_box img {
    box-shadow: 0 0px 23px 1px rgba(228, 228, 228, 0.88);
}


/*==========================
        10.CLIENT LOGO
============================*/

.logo_img {
    opacity: 0.7;
    transition: all 0.5s;
}

.logo_img:hover {
    opacity: 1;
}


/*==========================
        11.CLIENTS
============================*/

.testi_boxes {
    padding: 30px 20px;
    margin: 0px 15px;
    border: 1px dashed #e6e6e6;
    border-radius: 10px;
}

.testi_boxes .bus_testi_icon i {
    font-size: 26px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
}

.client_user {
    font-size: 14px;
    position: relative;
    top: -5px;
}

.client_star {
    line-height: 0px;
}

.testi_boxes .testi_img img {
    max-width: 70px;
}

.testi_boxes .client_name {
    font-size: 16px;
}

.owl-theme .owl-controls .owl-page {
    margin: 20px 0px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px 4px;
    filter: Alpha(Opacity=50);
    opacity: 0.3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.5s;
    background: #0ebdca !important;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 20px;
    opacity: 1;
}


/*==========================  
        12.PRICING
============================*/

.price_box {
    box-shadow: 0 10px 35px 0 rgba(154, 161, 171, 0.1);
    position: relative;
    overflow: hidden;
    padding: 40px 58px;
}

.price_box.active {
    overflow: hidden;
    position: relative;
}

.price_name {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    border-radius: 30px;
    padding: 6px 18px;
    font-size: 14px;
    display: inline-block;
}

.plan_price h1 {
    font-size: 54px;
}

.plan_price h1 sub {
    font-size: 12px;
}

.plan_price {
    border-bottom: 1px solid #efefef;
}

.price_box.active .lable h6 {
    color: #fff;
    font-size: 12px;
}

.price_box.active .lable {
    background: #0ebdca;
    padding: 6px 0;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 20px;
    right: -65px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*==========================
        13.SUBCRIBE
============================*/

.subcribe-newslatter input {
    padding: 14px 15px;
    width: 100%;
    font-size: 14px;
    color: #4c5667 !important;
    outline: none !important;
    padding-right: 150px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
}

.subcribe-newslatter button {
    position: absolute;
    top: 4px;
    right: 4px;
    outline: none !important;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
}

.subcribe-newslatter form {
    max-width: 450px;
}


/*==========================
        14.CONTACT
============================*/

.contact_form {
    max-width: 800px;
    padding: 30px;
    box-shadow: 10px -10px 0 4px #0ebdca;
    border-radius: 12px;
}

.contact_form .form-control {
    box-shadow: none !important;
    height: 44px;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
}

.form-group label {
    color: rgba(255, 255, 255, 0.8);
}

.contact_form textarea.form-control {
    height: auto;
}

.contact_form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.6);
}

.contact_form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.6);
}

.contact_form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.6);
}

.contact_form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.6);
}


/*==========================
        15.FOOTER
============================*/

.footer {
    background-color: #1c1c1f;
}

.footer .footer_detail .footer_logo {
    background: #393e9e;
    background: -webkit-linear-gradient(to right, #797cd2, #393e9e);
    background: linear-gradient(to right, #797cd2, #393e9e);
    color: #fff;
    display: inline-block;
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 50%;
}

.footer .footer_detail .footer_desc {
    color: rgba(255, 255, 255, 0.35);
    max-width: 380px;
    line-height: 1.8;
}

.fot_div {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.02);
    width: 100%;
    margin: 30px 0px;
}

.fot_social .social-icon {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.04);
    transition: all 0.5s;
    width: 38px;
    color: rgba(255, 255, 255, 0.42);
    height: 38px;
    display: block;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}

.fot_social .social-icon:hover {
    color: #fff !important;
}

.copy-right {
    color: rgba(255, 255, 255, 0.35);
}

/*==========================
        MATERIAL ICONS
============================*/

.md-36 {font-size: 36px; }
.md-48 {font-size: 48px; }
.md-72 {font-size: 72px; }
.md-144 {font-size: 144px; }
.md-172 {font-size: 172px; }

/*==========================
        16.RESPONSIVE
============================*/

@media (max-width: 768px) {
    .custom-nav {
        margin-top: 0px;
        padding: 10px 0px !important;
        background-color: #fff !important;
    }
    .custom-nav .navbar-nav li a {
        margin: 0 0px;
        padding: 6px 0;
        color: #000;
    }
    .custom-nav .navbar-nav li.active a {
        color: #0ebdca;
    }
    .custom-nav>.container {
        width: 90%;
    }
    .custom-nav .logo {
        padding-top: 0px;
    }
    .custom-nav .logo .logo-dark {
        display: inline-block;
    }
    .custom-nav .logo .logo-light {
        display: none;
    }

    .custom-nav .logo-white {
        color: #007bff;
    }

    .custom-nav .navbar-brand.logo img {
        height: 26px;
    }
    .navbar-nav {
        margin-top: 0px;
    }
    .custom-nav .sign_btn {
        background-color: rgba(14, 189, 202, 0.12);
        color: #0ebdca;
        display: inline-block;
    }
    .custom-nav .log_btn {
        background-color: transparent;
        color: #000;
        display: inline-block;
    }
    .header_title {
        font-size: 30px;
        line-height: 1.2;
    }
    .header_subtitle {
        font-size: 14px !important;
        line-height: 1.8;
    }
    .h-100vh {
        height: auto;
    }
    .home-bg,
    .home-bg-img {
        padding: 140px 0 0;
    }
    .header_btn span {
        display: block;
    }
    .sof_count {
        font-size: 58px;
        letter-spacing: 10px;
    }
    .section_subtitle {
        line-height: 1.6;
    }
    .price_box {
        padding: 30px;
    }
    .section_title h3 {
        font-size: 22px;
    }
    .home_side_img {
        padding: 110px 0px 84px;
    }
    .home_clip {
        clip-path: none;
    }
    .h-100vh {
        padding: 125px 0 130px 0;
    }
    .price_box .text-right{
        text-align: left !important;
    }
    .hide_phone{
        display: none;
    }
    .account_box {
        padding: 30px 10px;
    }
    .md-48 {font-size: 24px; }
    .md-172 {font-size: 92px; }
}

@media (max-width: 2560px) {
    .curv-img {
        bottom: -5px;
    }
}

@media (max-width: 991px) and (min-width: 200px) {
    .working_icons_left i,
    .working_icons_right i {
        display: none;
    }
}

.fp-big-name-pro {
    font-size: 1.8em;
}
.nunito {
    font-family: Nunito;
}
.red {
    color:red;
}

.blue-thick-border {
    border: 3px solid #CBDEFD;
}