*{
    margin: 0px;
}
#po1{
    width: 200px;
    height: 200px;
    background-color: coral;
   margin: 10px auto;
}
#po2{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    left:30px;
    z-index: 1;
}
#po3{
    width: 200px;
    height: 200px;
    background-color: deepskyblue;
    position: absolute;
}