/*导航栏图标*/
.shj-home-outline:before {
    content: url(../../icon/house.svg);
}
.shj-home-category:before {
    content: url(../../icon/flag.svg);
}
.shj-home-contact:before {
    content: url(../../icon/person.svg);
}
.shj-home-about:before {
    content: url(../../icon/tag-fill.svg);
}
/*.shj-home-foot2head:before {
    content: url(../../icon/cursor.svg);
}*/
/*设置图标大小*/
.footer {
    background-color: #9C27B0;
    padding-top: 1rem;
}

.mdi-menu:before {
    content: url(../../icon/list.svg);
}

/*#carouselHome .carousel-inner img {
    !*height: 70vh;*!
    height: 100%;
    width: 100%;
}*/
.bg-overlay-home {
    background-image: url(../../img/animation.png);
}
